.hidden {
    display: none;
}

.blue {
    background-color : blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.active {
    background-color: #ffffff;
    border-radius: 16px 16px 0 0;
}